In [17]:
import sqlite3
import pandas as pd

# List of file paths
file_paths = ['Desktop/Project2/data1.tsv', 'Desktop/Project2/data.tsv', 'Desktop/Project2/title-akas-us-only.csv']

# Connect to SQLite database (or create one if it doesn't exist)
conn = sqlite3.connect('your_database.db')

# Create a cursor object
cursor = conn.cursor()

# Function to load CSV or TSV files into SQLite tables
def load_file_into_sqlite(file_path, table_name, delimiter=','):
    # Read CSV or TSV file into DataFrame
    if delimiter == ',':
        df = pd.read_csv(file_path)
    elif delimiter == '\t':
        df = pd.read_csv(file_path, sep='\t')
    else:
        raise ValueError("Delimiter must be ',' or '\t'")
    
    # Write DataFrame to SQLite table
    df.to_sql(table_name, conn, index=False, if_exists='replace')

# Load CSV files into SQLite tables
csv_files = [('Desktop/Project2/title-akas-us-only.csv', 'table1')]  # Replace with your CSV file name and corresponding table name

for csv_file, table_name in csv_files:
    load_file_into_sqlite(csv_file, table_name)

# Load TSV files into SQLite tables
tsv_files = [('Desktop/Project2/data1.tsv', 'table2'), ('Desktop/Project2/data.tsv', 'table3')]  # Replace with your TSV file names and corresponding table names

for tsv_file, table_name in tsv_files:
    load_file_into_sqlite(tsv_file, table_name, delimiter='\t')

C:\Users\asus\AppData\Local\Temp\ipykernel_23360\3617986855.py:17: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\asus\AppData\Local\Temp\ipykernel_23360\3617986855.py:19: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep='\t')

In [4]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('your_database.db')

# Create a cursor object
cursor = conn.cursor()

# Function to get column names of a table
def get_column_names(table_name):
    cursor.execute(f"PRAGMA table_info({table_name})")
    columns = cursor.fetchall()
    return [column[1] for column in columns]

# Replace 'table1' with the name of your table
table_name = 'table1'

# Get column names of the table
column_names = get_column_names(table_name)

# Display column names
print("Column Names:")
print(column_names)

# Close the cursor and connection

Column Names:
['titleId', 'ordering', 'title', 'region', 'language', 'types', 'attributes', 'isOriginalTitle']

In [5]:

# Function to get column names of a table
def get_column_names(table_name):
    cursor.execute(f"PRAGMA table_info({table_name})")
    columns = cursor.fetchall()
    return [column[1] for column in columns]

# Get column names for table 2
table2_column_names = get_column_names('table2')

# Get column names for table 3
table3_column_names = get_column_names('table3')

# Display column names for table 2
print("Column Names for table 2:")
print(table2_column_names)

# Display column names for table 3
print("\nColumn Names for table 3:")
print(table3_column_names)

Column Names for table 2:
['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres']

Column Names for table 3:
['tconst', 'averageRating', 'numVotes']

In [2]:
import pandas as pd
import sqlite3  # Assuming you're using SQLite as an example

# Establish a connection to your database
conn = sqlite3.connect('your_database.db')  # Replace 'your_database.db' with your actual SQLite database file

# Create a cursor object from the connection
cursor = conn.cursor()

# Define your SQL query
sql_query = """
            SELECT * FROM table1
            WHERE table1.region = 'US'
            """

# Execute the SQL query
cursor.execute(sql_query)

# Fetch all rows as a list of tuples
filtered_movies = cursor.fetchall()

# Close the cursor and connection
cursor.close()
conn.close()

# Convert the list of tuples to a DataFrame
filtered_df = pd.DataFrame(filtered_movies)

# Display the filtered DataFrame
print(filtered_df)

                 0   1                                          2   3   4  \
0        tt0000001   6                                 Carmencita  US  \N
1        tt0000002   7                     The Clown and His Dogs  US  \N
2        tt0000005  10                           Blacksmith Scene  US  \N
3        tt0000005   1                        Blacksmithing Scene  US  \N
4        tt0000005   6                        Blacksmith Scene #1  US  \N
...            ...  ..                                        ...  ..  ..
1452559  tt9916560   1  March of Dimes Presents: Once Upon a Dime  US  \N
1452560  tt9916620   1                          The Copeland Case  US  \N
1452561  tt9916702   1              Loving London: The Playground  US  \N
1452562  tt9916756   1                   Pretty Pretty Black Girl  US  \N
1452563  tt9916764   1                                         38  US  \N

                   5                      6  7
0        imdbDisplay                     \N  0
1                 \N  literal English title  0
2        imdbDisplay                     \N  0
3        alternative                     \N  0
4        alternative                     \N  0
...              ...                    ... ..
1452559  imdbDisplay                     \N  0
1452560  imdbDisplay                     \N  0
1452561           \N                     \N  0
1452562  imdbDisplay                     \N  0
1452563  imdbDisplay                     \N  0

[1452564 rows x 8 columns]

In [7]:

# Establish a connection to your database
conn = sqlite3.connect('your_database.db')  # Replace 'your_database.db' with your actual SQLite database file

# Create a cursor object from the connection
cursor = conn.cursor()
# Define your second SQL query
sql_query2 = """
            SELECT * FROM table2
            WHERE table2.startYear BETWEEN 2000 AND 2022
            AND table2.titleType = 'movie'
            AND table2.genres NOT LIKE '%Documentary%'
            AND table2.genres IS NOT NULL
            AND table2.runtimeMinutes IS NOT NULL
            """

# Open a new cursor (since the previous one was closed)
cursor = conn.cursor()

# Execute the second SQL query
cursor.execute(sql_query2)

# Fetch all rows as a list of tuples
filtered_movies2 = cursor.fetchall()

# Convert the list of tuples to a DataFrame
filtered_df2 = pd.DataFrame(filtered_movies2)

# Close the cursor and connection
cursor.close()
conn.close()

# Display the filtered DataFrames
print(filtered_df2)

                0      1                                                  2  \
0       tt0011801  movie                                   Tötet nicht mehr
1       tt0015414  movie                             La tierra de los toros
2       tt0035423  movie                                     Kate & Leopold
3       tt0062336  movie  The Tango of the Widower and Its Distorting Mi...
4       tt0069049  movie                         The Other Side of the Wind
...           ...    ...                                                ...
201287  tt9916362  movie                                              Coven
201288  tt9916428  movie                                The Secret of China
201289  tt9916538  movie                                Kuambil Lagi Hatiku
201290  tt9916706  movie                                    Dankyavar Danka
201291  tt9916730  movie                                             6 Gunn

                                                3  4     5   6    7  \
0                                Tötet nicht mehr  0  2019  \N   \N
1                          La tierra de los toros  0  2000  \N   60
2                                  Kate & Leopold  0  2001  \N  118
3       El tango del viudo y su espejo deformante  0  2020  \N   70
4                      The Other Side of the Wind  0  2018  \N  122
...                                           ... ..   ...  ..  ...
201287                                   Akelarre  0  2020  \N   92
201288               Hong xing zhao yao Zhong guo  0  2019  \N   \N
201289                        Kuambil Lagi Hatiku  0  2019  \N  123
201290                            Dankyavar Danka  0  2013  \N   \N
201291                                     6 Gunn  0  2017  \N  116

                             8
0                 Action,Crime
1                           \N
2       Comedy,Fantasy,Romance
3                        Drama
4                        Drama
...                        ...
201287           Drama,History
201288   Adventure,History,War
201289                   Drama
201290                  Comedy
201291                   Drama

[201292 rows x 9 columns]